<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  {% load static %}
  <link rel="stylesheet" href="{% static "viewer/css/page.css" %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}

    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;}
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<script src="{% static "viewer/js/dropzone.js" %}"></script>
<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <h2>Image files</h2>
      <div class="list-group pre-scrollable">
      {% for image in dicomImages %}
          {% if pk == image.id|stringformat:"s" %}
            <a href="/viewer/{{ image.pk }}" class="list-group-item active">{{ image.base_filename }}</a>
          {% else %}
            <a href="/viewer/{{ image.pk }}" class="list-group-item">{{ image.base_filename }}</a>
          {% endif %}
      {% endfor %}
      </div>
    </div>
    <div class="col-sm-8" id="viewport">
            <div class="figure-wrapper box-input">
            <form id="add-photos" class="dropzone" action="/viewer/api/dicom_images/" method="post">
                {% csrf_token %}
                {% if pk %}
                    {% if filter %}
                        <img id="main_image" src="/viewer/api/dicom_images/{{ filter }}/{{ pk }}">
                    {% else %}
                        <img id="main_image" src="/viewer/api/dicom_images/plain/{{ pk }}">
                    {% endif %}
                {% endif %}
                <div class="fallback">
                    <input name="file" type="file" multiple />
                </div>
            </form>
            </div>
    </div>
    <div class="col-sm-2 sidenav">
      <h2>Tools</h2>
      <button class="btn btn-default tool" id="lung_detect" onclick="process_image('lung_segment')"></button>
      <button class="btn btn-default tool" id="rib_detect" onclick="process_image('rib_segment')"></button>
      <button class="btn btn-default tool" id="rib_suppress" onclick="process_image('rub_suppress')"></button>
      <button class="btn btn-default tool" id="plain_xray" onclick="process_image('plain')"></button>
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>

</body>

<script src="../../static/viewer/js/spin.min.js"></script>
<script>
    function process_image(filter) {
        var opts = {
          lines: 13 // The number of lines to draw
        , length: 28 // The length of each line
        , width: 14 // The line thickness
        , radius: 42 // The radius of the inner circle
        , scale: 1 // Scales overall size of the spinner
        , corners: 1 // Corner roundness (0..1)
        , color: '#000' // #rgb or #rrggbb or array of colors
        , opacity: 0.25 // Opacity of the lines
        , rotate: 0 // The rotation offset
        , direction: 1 // 1: clockwise, -1: counterclockwise
        , speed: 1 // Rounds per second
        , trail: 60 // Afterglow percentage
        , fps: 20 // Frames per second when using setTimeout() as a fallback for CSS
        , zIndex: 2e9 // The z-index (defaults to 2000000000)
        , className: 'spinner' // The CSS class to assign to the spinner
        , top: '50%' // Top position relative to parent
        , left: '50%' // Left position relative to parent
        , shadow: false // Whether to render a shadow
        , hwaccel: false // Whether to use hardware acceleration
        , position: 'absolute' // Element positioning
        };
        var target = document.getElementById('viewport');
        var spinner = new Spinner(opts).spin(target);

        var targetImg = document.getElementById("main_image");
        targetImg.onload = function () {
            spinner.stop()
        };
        targetImg.onerror = function () {
            spinner.stop()
        };
        targetImg.src = "/viewer/api/dicom_images/" + filter + "/{{ pk }}";
    }
</script>

</html>

