html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f2f2f4;
  color: #555;
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
  text-decoration: none;
  color: #0099CC;
}

h1 {
  font-size: 52px;
  margin: 0;
  padding: 0;
  font-weight: 100;
  color: #eee;
}

/* region buttons */

button.btn.tool {
  width: 96px;
  height: 96px;
  margin: 5px;
}

button#lung_detect {
  background: url('../images/lungs_icon.png');
  background-size: contain;
}

button#rib_detect {
  background: url('../images/ribs_icon.jpg');
  background-size: contain;
}

button#rib_suppress {
  background: url("../images/ribs_suppressed_icon.jpg");
  background-size: contain;
}

button#plain_xray {
  background: url("../images/plain_xray.png");
  background-size: contain;
}

/* endregion */

/* region figure */

div#viewport {
  position:relative;
  margin:0 auto;
  height:auto !important;
  min-height: 100%;
}

.figure-wrapper {
  text-align: center;
  max-width: 100%;
  min-height: 100vh;
  margin-bottom: 10px;
}

.image-container {
  display: inline-block;
  max-width: 100%;
  background: white;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #e2e2e2;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.image-container.target {
  min-width: 100%;
  min-height: 100vh;
  height:auto !important;
}

.image-container img {
  max-width: 100%;
  min-height: 100%;
}

.image-container .image-meta {
  margin-top: 10px;
  font-size: 12px;
  text-align: left;
}
.image-container .image-meta a {
  text-decoration: none;
  color: #444;
}
.image-container .image-meta a:hover .image-meta-title {
  text-decoration: underline;
}

/* endregion */

.list-group-item.active {
  background-color: #222;
}